<div class="container px-5 px-sm-0 py-5"></div>
  <div class="row">
    <h1>（管理者用）会員一覧</h1>
  </div>

<table>
  <thead>
    <tr>
      <th>
        会員ID
      </th>
      <th>
        氏名
      </th>
      <th>
        メールアドレス
      </th>
      <th>
        ステータス
      </th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.full_name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.customer_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

