<h1>（会員用）カート内商品一覧画面</h1>
<h1>数量変更、カート削除の要素を</h1>

<table>
  <thead>
    <th>単価(税込)</th>
    <th>小計</th>
  </thead>
  <tbody>
  <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.item.with_tax_price %></td>
      <td><%= cart_item.subtotal %></td>
        <% @合計金額 += cart_item.subtotal %>
    </tr>
  <% end %>
  </tbody>
</table>