<h1>（会員用）注文情報確認画面</h1>

<th>支払い方法</th>
  <td><%= @order.payment_method %></td>
 </tr>
 <tr>
   <th>お届け先</th>
   <td>
    <%= @order.post_code %> 
    <%= @order.address %>　 
    <%= @order.name %>      